:root{
    --mainLoas:#F2646E;
    --blueLoas:#00B0F0;
    --greenLoas: #36D266;
    --purpleLoas: #7030A0;
    --blackLoas: #0000;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/* 1 rem= 10px*/
}

.titulo {
    text-align: center;
    font-size: 4.8rem;
    color: var(--mainLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
}

.titulo span {
    font-size: 2rem;
    color: var(--blueLoas);
    font-family: 'Handjet', cursive;
    font-weight: 600;
}

.navegacion-principal {
    background-color: var(--mainLoas);

}

.contenedor {
    width: 120rem;
    margin: 0 auto;
}