:root{
    --mainLoas:#F2646E;
    --blueLoas:#00B0F0;
    --greenLoas: #36D266;
    --purpleLoas: #7030A0;
    --oscuro: #0000;
    --whiteLoas:#ffff; 
}
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    font-size: 16px;/* 1 rem= 10px*/
    font-family: 'Archivo', sans-serif;
    font-weight: 400px;
}

.navegacion-bg{
    background-color: var(--mainLoas);
}

.navegacion-principal {
    display: flex;
    flex-direction: column;
}

@media (min-width: 780px) {
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color:var(--whiteLoas);
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Archivo', sans-serif;
    font-weight: bold;
    text-transform:uppercase;
    padding: 1rem;
}

.navegacion-principal a:hover {
    background-color: var(--blueLoas);
    color: black;
}

.bienvenida{
    font-size: 4.8rem;
    color: var(--mainLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;
    margin:0;
}


.titulo {
    font-size: 4.8rem;
    color: var(--mainLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-transform:capitalize;
    text-align: center;
    margin:0;
}

.titulo span {
    position: relative;

    font-size: 2rem;
    color: var(--blueLoas);
    font-family: 'Handjet', cursive;
    font-weight: 600;
}

.bg-titulo{
    background-color: white;
    height: 55px;
    width: auto;
    margin:10px 0;
}



.portada {
    background-image: url(../images/portada_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    padding: 2rem;

    
}

.contenedor-cajas{
    /*background-color: #7030A0;*/
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 25rem;;
}

.caja1{
    color: white;
    font-weight: 400;
    font-size: 25px;
    font-family: 'Gruppo', sans-serif;

    height: 200px;
    width:400px;

    line-height: 105px;
    text-align:left;

    margin: 5px;

    
}

.caja2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    
    color: white;
    font-size: 25px;
    font-family: 'Gruppo', sans-serif;
}

.parrafo{
    margin:  0;
    height: 60px;

}

.titulo-tecno {
    background-color: white;
    font-size: 4.8rem;
    color: var(--greenLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;
    margin:0;
}

.tecno{
    background-color: var(--greenLoas);
    display: flexbox;
    margin: 100px;
}

.titulo-proyecto {
    background-color: white;
    font-size: 4.8rem;
    color: var(--purpleLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;
    margin:0;
}

.proyectos{
    background-color: var(--purpleLoas);
    display: flexbox;
    margin: 100px;
}

.titulo-contacto {
    background-color: white;
    font-size: 4.8rem;
    color: var(--mainLoas);
    font-family: 'Archivo', sans-serif;
    font-weight: 600;
    text-transform:uppercase;
    text-align: center;
    margin:0;
}

.contacto{
    background-color: var(--mainLoas);
    display: flexbox;
    margin: 100px;
}

.boton{
    background-color: var(--mainLoas);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    text-transform: uppercase;
    border-radius: 0.5rem;

    
    height: 3rem;
    width: 20rem;
    margin: 3.7rem 0 2rem 0;
}

.caja2 a:hover {
    background-color: var(--blueLoas);
    color: black;
}
