html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/* 1 rem= 10px*/
}

.titulo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 4.8rem;
}

.titulo span {
    font-size: 2rem;
    font-family:monospace;
}